@import 'global';

$primary-font: $font-dense;

$border-thickness: 4px;
$border-color: black;
$border: $border-thickness solid $border-color;
$border-radius: 0px;
$ticket-devider-size: 2px;

$bg: $yellow;

$text-primary: black;

$focus-width: 760px;

body {
    box-sizing: border-box;
    background-color: $bg;

    margin: 0;
    padding: 0;

    font-size: 16px;
}

main {
    margin: 4rem auto;
    width: $focus-width;

    display: grid;
    gap: 4rem;
}

h1 {
    font-family: $primary-font;
    font-weight: bold;
    font-size: 3rem;
}

.avatar {
    border: $border-thickness solid $border-color;

    width: 280px;
    height: 280px;

    background-image: url('../images/me.JPG');
    background-position: bottom;
    background-size: cover;
}

.title {
    color: $text-primary;

    display: flex;
    align-items: center;

    font-size: 2rem;
    font-family: $primary-font;
    font-weight: bold;

    margin: 0;
    padding: 0;

    user-select: none;
    text-transform: uppercase;
}

.callout {
    display: flex;
    align-items: center;

    h1 {
        color: black;
        font-size: 3rem;
        padding: 2rem 0;
        margin: 0;
        letter-spacing: 0.03em;
    }

    *:last-child{
        margin-left: auto;
    }
}

.about {
    display: grid;
    grid-template-columns: auto $ticket-devider-size auto;
    align-items: center;

    .title {
        height: 100%;

        padding-left: $border-thickness;
        width: 60px;

        background-color: $text-primary;

        justify-content: center;

        writing-mode: vertical-lr;
        transform: scale(-1);

        color: white;
        letter-spacing: 0.1em;
    }

    .devider {
        content: '';

        height: 100%;
        width: auto;

        border-right: $ticket-devider-size dashed $text-primary;
    }

    .intro {
        a, abbr{
            text-decoration: none;
            font-weight: 500;
            color: black;
        }

        width: clamp(45ch, auto, 60ch);
        font-family: $font-p;

        padding: 2rem;

        border: $border;
        border-radius: 0 $border-radius/2 $border-radius/2 0;

        background-color: white;
    }
}

.services {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;

    grid-template-areas:
        'title  title'
        'design development';

    .title {
        top: 0;
        padding-left: 2rem;
    }

    & > .title {
        grid-area: title;
        padding: 0;
        margin: 0;
    }

    .service {
        border: $border;
        background-color: white;

        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 'overlap';

        * {
            position: relative;
        }

        .illustration {
            grid-area: overlap;
        }

        .title {
            grid-area: overlap;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
    }

    .design {
        grid-area: design;

        display: flex;
        align-items: center;

        background-color: $violet;
    }

    .development {
        background-color: $red;
        grid-area: development;

        .planet {
            z-index: 0;
        }

        .illustration {
            #circle {
                transform-origin: 231px 91px;

                animation: rotate 3s ease-in-out infinite;
            }

            #planet {
                fill: $light-yellow;
                background: url('../svg/earth-cloud.svg');
            }

            #cloud1 {
                transform: translate(48px, 0) rotate(23deg);
                animation: cloud1 10s linear infinite;
            }
            #cloud2 {
                transform: translate(-114px, 0) rotate(23deg);
                animation: cloud2 10s linear infinite;
            }

            #satellite-front {
                animation: satellite-front 3s ease-in-out forwards infinite;
                visibility: hidden;
                animation-delay: 1.5s;
            }

            #satellite-back {
                animation: satellite-back 3s ease-in-out forwards infinite;
                visibility: hidden;
            }
        }

        .title {
            line-height: 1em;
        }
    }
}

@keyframes satellite-back {
    0% {
        transform: translate(-80px, 80px);
        visibility: visible;
    }

    50% {
        transform: translate(0, 0);
        visibility: hidden;
    }
    100% {
        transform: translate(0, 0);
        visibility: hidden;
    }
}
@keyframes satellite-front {
    0% {
        transform: translate(0, 0);
        visibility: visible;
    }
    50% {
        transform: translate(-80px, 80px);
        visibility: hidden;
    }
    100% {
        transform: translate(-80px, 80px);
        visibility: hidden;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes cloud1 {
    0% {
        transform: translate(48px, 0);
    }
    100% {
        transform: translate(210px, 0px);
    }
}
@keyframes cloud2 {
    0% {
        transform: translate(-114px, 0px);
    }
    100% {
        transform: translate(48px, 0px);
    }
}

@keyframes resize {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}
