@import "global";


$border-thickness: 2px;
$primary-font: $font-dense;

*{box-sizing: border-box;}


body{
    background-color: hsl(240, 9%, 98%);
    
    box-sizing: border-box;
    
    display: grid;
    place-items: center;
    
    height: 100vh;
    font-size: 16px;
}


main{
    margin: 4rem auto;
    padding: 0 2rem;

    width: auto;
    max-width: $focus-width;
    
    display: grid;
    gap: 4rem;
}

h1 {
    margin: 0;

    font-family: $primary-font;
    font-weight: 500;
    font-size: 3rem;
}

a{
    text-decoration: none;
}

p{
    width: clamp(45ch, 100%, 75ch);
}

.options{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));

    gap: 1rem;
}

.platform{
    color: white;

    border: $border;
    border-width: 
    $border-thickness $border-thickness $border-thickness*2 $border-thickness;
    border-radius: 8px;

    display: grid;
    grid-template-columns: 50px auto;

    align-items: center;

    background-color: var(--color);



    &:active{
        border-width: 
        $border-thickness;
        transform: translateY($border-thickness);
    }

    h2{
        user-select: none;

        color: inherit;

        margin: .5rem 2rem;
        margin-left: 0;
    }

    .icon{
        font-size: 1.2rem;

        display: grid;
        place-items: center;

    }

    &.email{
        h2::after{
            content: 'vanviethieuanh@gmail.com';
        }
        
        h2.copied::after{
            content: 'Copied to clipboard';
        }

        &:hover {
            h2:not(.copied)::after{
                content: 'Copy to clipboard';
            }
        }
    }
   
}

@media (max-width: 768px) {
    // 📱
    p{
        width: auto;
    }

    .platform.email{

        &:hover {
            h2::after{
                content: 'Copied to clipboard';
            }
        }
    }
}