@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&family=Roboto&display=swap');

// Stroke
$border: solid 4px #000000;

// Typo
$font-dense: 'Oswald', sans-serif;
$font-p: 'Roboto', sans-serif;

$h1: 50px;
$h2: 20px;
$h3: 12px;

// Color
$bg: white;

$text-primary: #363636;
$text-subtitle: #858585;

$blue: #699BF7;
$red: #FC5151;
$yellow: #FFCE42;
$green: #2ECC71;
$violet: #7D3CFF;
$behance: #0057ff;
$purple: #9B59B6;

:root{
    --blue: #699BF7;
    --red: #FC5151;
    --yellow: #FFCE42;
    --green: #2ECC71;
    --violet: #7D3CFF;
    --behance: #0057ff;
    --purple: #9B59B6;
}

// Size
$round: 20px;
$padding: 2rem;

$focus-width: 1100px;
$sm: 600px;

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: $bg;
}

::-webkit-scrollbar-thumb {
    background: $text-subtitle;
}

::-webkit-scrollbar-thumb:hover {
    background: $text-primary;
}

body {
    font-size: 16px;
    font-family: $font-dense;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;

    scrollbar-width: thin;
    *{
        box-sizing: border-box;
    }
}

h1 {
    font-size: 1.8rem;
    font-weight: 400;
    font-family: $font-dense;
    color: black;
}
h2 {
    font-family: $font-dense;
    font-weight: normal;
    color: black;
    font-size: 1.2rem;
}
h3 {
    font-weight: 300;
    font-family: $font-dense;
    color: $text-subtitle;
    font-size: 1.2rem;
}

p {
    font-family: $font-p;
    color: $text-subtitle;
}

$button-shadow-size:6px;
$button-height:40px;
button{
    outline: none;

    height: $button-height;

    border-radius: 0;
    border: $border;
    
    font-family: $font-dense;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 0;
    
    padding: 0 .5rem;
    padding-bottom: $button-shadow-size;

    box-shadow: inset 0 -1*$button-shadow-size 0 rgba($color: #000000, $alpha: .2);

    &:active{
        height: $button-height -$button-shadow-size;
        padding-bottom: 0;
        box-shadow: none;
        transform: translate(0, $button-shadow-size);
    }
}
