@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Raleway&display=swap');
// Typo
$font: "Roboto Mono",
monospace;
$sans: 'Raleway', sans-serif;
$serif: 'Playfair Display',
serif;


$h1: 50px;
$h2: 20px;
$h3: 12px;



// Color
$bg:#f3f3f3;
$text-primary: #363636;
$text-subtitle: #858585;
$linear: linear-gradient(135deg, #FF665A 0%, #FF8C64 100%);
$shadow-color: rgba(0, 0, 0, 0.1);

// Effect
$neumorphism: 20px 20px 60px #cfcfcf,
-20px -20px 60px #ffffff;

// Size
$round: 20px;

$focus-width: 1100px;
$sm: 600px;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: $bg;
}

::-webkit-scrollbar-thumb {
  background: $text-subtitle;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: $text-primary;
}

body{
  font-family: $sans;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1{
  font-family: $sans;
  color: $text-subtitle;
}

p{
  font-family: $sans;
  color: $text-subtitle;
}