@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Raleway&display=swap");
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background: #858585;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #363636;
}

body {
  font-family: "Raleway", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Raleway", sans-serif;
  color: #858585;
}

p {
  font-family: "Raleway", sans-serif;
  color: #858585;
}

body {
  background-color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

a {
  text-decoration: none;
}

header {
  position: absolute;
  top: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header h2.title {
  color: #858585;
  font-weight: normal;
  top: 2rem;
}

header nav {
  position: absolute;
  right: 2rem;
}

header nav a {
  color: #858585;
  opacity: .4;
}

header nav a:hover {
  opacity: 1;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

section .card {
  -webkit-animation: shrink 1s ease-in-out;
          animation: shrink 1s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 200px;
  height: 300px;
  border-radius: 20px;
  background-color: #f0f0f0;
  -webkit-box-shadow: 20px 20px 60px #cfcfcf, -20px -20px 60px #ffffff;
          box-shadow: 20px 20px 60px #cfcfcf, -20px -20px 60px #ffffff;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

section .card:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

section .card svg {
  width: 60px;
  height: 80px;
}

section .card h2 {
  font-weight: normal;
  color: #858585;
}

#about:hover #head {
  -webkit-animation-name: slide-around;
          animation-name: slide-around;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

#works:hover #terminal-dash {
  -webkit-animation-name: flicker;
          animation-name: flicker;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

#contact:hover #circles circle {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

#contact:hover #circles circle:nth-child(1) {
  -webkit-animation-name: circle-1;
          animation-name: circle-1;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

#contact:hover #circles circle:nth-child(2) {
  -webkit-animation-name: circle-2;
          animation-name: circle-2;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

#contact:hover #circles circle:nth-child(3) {
  -webkit-animation-name: circle-3;
          animation-name: circle-3;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes shrink {
  0% {
    -webkit-box-shadow: 0 0 20px transparent, 0 0 20px transparent;
            box-shadow: 0 0 20px transparent, 0 0 20px transparent;
  }
  100% {
    -webkit-box-shadow: 20px 20px 60px #cfcfcf, -20px -20px 60px #ffffff;
            box-shadow: 20px 20px 60px #cfcfcf, -20px -20px 60px #ffffff;
  }
}

@keyframes shrink {
  0% {
    -webkit-box-shadow: 0 0 20px transparent, 0 0 20px transparent;
            box-shadow: 0 0 20px transparent, 0 0 20px transparent;
  }
  100% {
    -webkit-box-shadow: 20px 20px 60px #cfcfcf, -20px -20px 60px #ffffff;
            box-shadow: 20px 20px 60px #cfcfcf, -20px -20px 60px #ffffff;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes circle-1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes circle-1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes circle-2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-6px, -6px);
            transform: translate(-6px, -6px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes circle-2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-6px, -6px);
            transform: translate(-6px, -6px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes circle-3 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes circle-3 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes slide-around {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(0px, 3px);
            transform: translate(0px, 3px);
  }
  75% {
    -webkit-transform: translate(0px, -3px);
            transform: translate(0px, -3px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes slide-around {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(0px, 3px);
            transform: translate(0px, 3px);
  }
  75% {
    -webkit-transform: translate(0px, -3px);
            transform: translate(0px, -3px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
/*# sourceMappingURL=index.css.map */