@import "global";

body {
  background-color: white;

  height: 100vh;
}

a {
  text-decoration: none;
}

header {
  max-width: $focus-width;
  margin: 0 auto;

  padding: 2rem;
  z-index: 100;

  div.💻 {
    width: 100%;

    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);

    text-align: center;

    a {

      color: $text-subtitle;
      font-weight: 300;
      padding-left: 1rem;

      &:first-child {
        padding-left: 0;
      }

      &:hover {
        color: black;
      }

      &.active {
        color: black;
        font-weight: normal;
      }
    }

    nav {
      display: flex;

      &.social {
        justify-content: flex-end;
      }

      &.pages {
        justify-content: flex-start;
      }
    }
  }

  div.📱 {
    display: none;
    align-items: center;

    $burger-long: 20px;

    .burger-button {
      margin-left: auto;

      display: inline-block;
      cursor: pointer;

      z-index: 10;
    }


    .bar1,
    .bar2,
    .bar3 {
      width: $burger-long;
      height: 2px;
      background-color: #333;
      margin: 6px 0;
      transition: 0.4s;
      transform-origin: $burger-long/2 1px;
    }

    .show .bar1 {
      transform: translateY(4px) rotate(-45deg);
    }

    .show .bar2 {
      transform: translateY(-4px) rotate(45deg);
    }

    nav {
      transform: translateX(-100vw);

    }
    
    .show~nav {
      transform: translate(0, 0);
      .side{
        animation-play-state: running !important;
      }

    }
    
    nav {
      position: fixed;
      left: 0;
      top: 0;

      width: 100vw;
      height: 100vh;

      background-color: $bg;

      display: grid;
      place-items: center;

      transition: all 400ms ease-in-out;

      ul {
        margin: 0;
        padding: 0;
        outline: none;

        width: clamp(220px, 60%, 240px);
      }

      li {
        list-style: none;
        background-color: black;

        a {
          background-color: black;
          border: 8px solid black;

          margin: 1rem 0;

          display: flex;
          gap: 0 9px;
          flex-direction: inherit;

          .side{
            background-image: url('../stars.svg');
            background-repeat:repeat-x;

            
            animation: cylinders 100s linear infinite var(--orientation),shrinkY 1000ms linear forwards;
            animation-play-state: paused !important;
            animation-delay: calc(400ms + var(--order) * 1s);
            background-color: var(--color);
          }
        }
        &:nth-child(2n+1) {
          flex-direction: row-reverse;

          & h2{
            justify-content: flex-end;
          }
        }


      }

      h2 {
        width: 100%;

        display: flex;
        background-color: white;

        text-transform: uppercase;
        font-weight: bold;
        font-size: 36px;

        padding: 0 1rem;
        margin: 0;
      }
    }
  }
}

section {
  max-width: $focus-width;
  margin: 0 auto;

  padding: 0 $padding;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;

  ul {
    width: 100%;

    display: grid;
    justify-items: left;

    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    margin: 0;
    padding: 0;

    li {
      list-style: none;
      width: 100%;
      aspect-ratio: 8 / 10;

      .card {
        border: $border;

        width: 100%;
        height: 100%;

        min-height: 300px;

        display: grid;
        grid-template-rows: 1fr auto;

        * {
          animation-play-state: var(--play-state);
        }

        transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);

        &:hover {
          * {
            --play-state: running;
          }
        }

        .title {
          background-color: white;
          display: grid;
          place-items: center;

          border-top: $border;

          * {
            margin: 0.5rem;
          }
        }

        .content {
          width: 100%;

          display: grid;
          place-items: center;

          &#tictactoe {
            background: var(--bg);

            #xo {
              * {
                visibility: hidden;
              }

              @for $i from 1 to 10 {
                #xo#{$i} {
                  animation-name: appear;
                  animation-duration: .2s;
                  animation-delay: #{$i*0.5}s;
                  animation-fill-mode: forwards;
                }
              }
            }
          }

          &#enigma {
            background: var(--bg);

            #code {

              width: 80%;
              aspect-ratio: 1/1;

              display: grid;
              place-items: center;
              grid-template-rows: repeat(3, 1fr);
              grid-template-columns: repeat(3, 1fr);

              b {
                font-size: 36px;
                color: black;

                &:nth-of-type(1),
                &:nth-of-type(3),
                &:nth-of-type(5),
                &:nth-of-type(6),
                &:nth-of-type(7),
                &:nth-of-type(9) {
                  color: white;
                }

                &::after {
                  content: "0";

                  animation-play-state: inherit;
                  animation-name: crypto;
                  animation-duration: 6s;
                  animation-timing-function: linear;
                  animation-iteration-count: infinite;
                  animation-fill-mode: forwards;

                  animation-delay: calc(var(--order) * 600ms);
                }
              }
            }

          }

          &#twitter {
            background: var(--bg);

            #cactus {
              #eyes {
                animation: cactus 5s linear forwards infinite;
              }
            }

            #bird {
              #eye {
                animation: blink 5s linear forwards infinite;
              }
            }
          }

          &#mondrian {
            background: var(--bg);

            svg {
              border: $border;

              width: 280px;
              height: 280px;

              * {
                visibility: hidden;
                animation-play-state: inherit;
                animation-name: appear;
                animation-duration: .4s;
                animation-delay: calc(var(--order) * 500ms);
                animation-fill-mode: forwards;
              }
            }

          }
          &#k-means{
            background: var(--bg);
            width: 100%;
            height:100%;

            svg{
              margin-left: auto;
              margin-right: auto;

              max-height: 70%;
              max-width: 70%;
            }

            circle{
              fill: white;

              transition: fill ease-in-out 1s;
            }

            &:hover{
              #group_1 > circle{
                fill: $green;
              }
  
              #group_2 > circle{
                fill: $yellow;
              }
  
              #group_3 > circle{
                fill: $red;
              }
            }
          }
        }
      }


    }
  }
}

footer {
  font-size: 14px;

  max-width: $focus-width;
  margin: 0 auto;

  padding: 2rem;


  display: flex;
  flex-direction: row;

  p {
    padding-left: 1rem;
    font-size: 12px;
    color: $text-subtitle;
    margin: 0;
    line-height: 27px;
  }

  a {
    color: $text-subtitle;
    padding-left: 1rem;

    &:first-child {
      padding-left: 0;
    }

    &:hover {
      color: black;
    }
  }

  button {
    margin-right: 1rem;
  }

  #behance {
    background-color: $behance;
    color: $bg;
  }
}


@keyframes blink {

  0%,
  100% {
    transform: scale(1, .05);
  }

  5%,
  95% {
    transform: scale(1, 1);
  }
}

@keyframes cactus {
  0% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(-4px);
  }

  50% {
    transform: translateX(-4px);
  }

  60% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes crypto {

  5% {
    content: "E";
  }

  15% {
    content: "N";
  }

  25% {
    content: "I";
  }

  35% {
    content: "G";
  }

  45% {
    content: "M";
  }

  55% {
    content: "A";
  }

  65% {
    content: "0";
  }

  0%,
  100% {
    content: "0";
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    visibility: hidden;
  }

  to {
    visibility: visible;
  }
}

@keyframes shrinkY {
  0%{
    width: 0;
  }
  100%{
    width: 100%;
  }
}

@keyframes cylinders {
  from {
    background-position: 0 0;
  }
    to {
    background-position: -10000px 0;
  }
}

@media (max-width: 768px) {
  header {
    div.💻 {
      display: none;
    }

    div.📱 {
      display: flex;
    }
  }
}