@import "global";

body {
  background-color: white;

  height: 100vh;
}

a {
  text-decoration: none;
}

header {
  max-width: $focus-width;
  margin: 0 auto;

  padding: $container-padding;
  padding-top: 2rem;
  padding-bottom: 2rem;

  nav {
    display: flex;

    a {

      color: $text-subtitle;
      font-weight: 300;
      padding-left: 1rem;

      &:first-child {
        padding-left: 0;
      }

      &:hover {
        color: black;
      }

      &.active {
        color: black;
        font-weight: normal;
      }
    }
  }
}

section {
  max-width: $focus-width;
  margin: 0 auto;

  padding: $container-padding;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;

  ul {
    display: grid;
    justify-items: center;

    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    
    width: 100%;
    
    margin: 0;
    padding: 0;

    li {
      list-style: none;

      .card {
        border: $border;

        width: 280px;
        height: 346px;

        display: grid;
        grid-template-rows: auto 66px;

        * {
          animation-play-state: paused;
        }

        transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);

        &:hover {
          * {
            animation-play-state: running;
          }

          transform: translate(-10px, -10px);
          box-shadow: 10px 10px 0 black;
        }

        .title {
          background-color: white;
          display: grid;
          place-items: center;

          border-top: $border;

          * {
            margin: 0;
          }
        }

        .content {
          display: grid;
          place-items: center;

          &#tictactoe {
            background-color: $red;

            #xo {
              * {
                visibility: hidden;
              }

              @for $i from 1 to 10 {
                #xo#{$i} {
                  animation-name: appear;
                  animation-duration: .2s;
                  animation-delay: #{$i*0.5}s;
                  animation-fill-mode: forwards;
                }
              }
            }
          }

          &#enigma {
            background-color: $green;

            padding: 15%;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(3, 1fr);

            b {
              font-size: 36px;
              color: black;

              &:nth-of-type(1),
              &:nth-of-type(3),
              &:nth-of-type(5),
              &:nth-of-type(6),
              &:nth-of-type(7),
              &:nth-of-type(9) {
                color: white;
              }


              &::after {
                content: "0";

                animation-play-state: inherit;
                animation-name: crypto;
                animation-duration: 6s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-fill-mode: forwards;
              }

              $delay-factor:0.1;

              &:nth-child(1)::after {
                animation-delay: 1 * $delay-factor + s;
              }

              &:nth-child(2)::after {
                animation-delay: 2* $delay-factor + s;
              }

              &:nth-child(3)::after {
                animation-delay: 6* $delay-factor + s;
              }

              &:nth-child(4)::after {
                animation-delay: 3* $delay-factor + s;
              }

              &:nth-child(5)::after {
                animation-delay: 4* $delay-factor + s;
              }

              &:nth-child(6)::after {
                animation-delay: 7* $delay-factor + s;
              }

              &:nth-child(7)::after {
                animation-delay: 5* $delay-factor + s;
              }

              &:nth-child(8)::after {
                animation-delay: 0* $delay-factor + s;
              }

              &:nth-child(9)::after {
                animation-delay: 9* $delay-factor + s;
              }
            }
          }

          &#twitter {
            background-color: $blue;

            #cactus {
              #eyes {
                animation: cactus 5s linear forwards infinite;
              }
            }

            #bird {
              #eye {
                animation: blink 5s linear forwards infinite;
              }
            }
          }

          &#mondrian {
            background: white;
            @for $i from 1 to 7 {
              svg *:nth-child(#{$i}) {
                visibility: hidden;
                animation-play-state: inherit;
                animation-name: appear;
                animation-duration: .4s;
                animation-delay: #{$i*0.5}s;
                animation-fill-mode: forwards;
              }
            }
          }
        }
      }


    }
  }
}

footer {
  font-size: 14px;

  max-width: $focus-width;
  margin: 0 auto;

  padding: $container-padding;
  padding-top: 2rem;
  padding-bottom: 2rem;

  display: flex;
  flex-direction: row;

  p{
    padding-left: 1rem;
    font-size: 12px;
    color: $text-subtitle;
    margin: 0;
    line-height: 27px;
  }

  a {
    color: $text-subtitle;
    padding-left: 1rem;

    &:first-child {
      padding-left: 0;
    }

    &:hover {
      color: black;
    }
  }

  button {
    margin-right: 1rem;
  }

  #behance {
    background-color: $behance;
    color: $bg;
  }
}


@keyframes blink {

  0%,
  100% {
    transform: scale(1, .05);
  }

  5%,
  95% {
    transform: scale(1, 1);
  }
}

@keyframes cactus {
  0% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(-4px);
  }

  50% {
    transform: translateX(-4px);
  }

  60% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes crypto {

  5% {
    content: "E";
  }

  10% {
    content: "N";
  }

  15% {
    content: "I";
  }

  20% {
    content: "G";
  }

  25% {
    content: "M";
  }

  30% {
    content: "A";
  }

  35% {
    content: "0";
  }

  0%,
  100% {
    content: "0";
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    visibility: hidden;
  }

  to {
    visibility: visible;
  }
}