@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&family=Roboto&display=swap");
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #858585;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #363636;
}

body {
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  color: black;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  color: black;
  font-size: 1.2rem;
}

h3 {
  font-weight: 300;
  font-family: "Oswald", sans-serif;
  color: #858585;
  font-size: 1.2rem;
}

p {
  font-family: "Roboto", sans-serif;
  color: #858585;
}

button {
  outline: none;
  height: 40px;
  border-radius: 0;
  border: solid 4px #000000;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 0;
  padding: 0 .5rem;
  padding-bottom: 6px;
  -webkit-box-shadow: inset 0 -6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 -6px 0 rgba(0, 0, 0, 0.2);
}

button:active {
  height: 34px;
  padding-bottom: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate(0, 6px);
          transform: translate(0, 6px);
}

body {
  background-color: white;
  height: 100vh;
}

a {
  text-decoration: none;
}

header {
  padding: 0 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .title {
  margin: 0;
  margin-right: auto;
}

header nav {
  margin-left: auto;
}

header nav a {
  color: #858585;
  font-weight: 300;
  padding-left: 1rem;
}

header nav a:first-child {
  padding-left: 0;
}

header nav a:hover {
  color: black;
}

header nav a.active {
  color: black;
  font-weight: normal;
}

section {
  padding: 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

section ul li {
  list-style: none;
  border: solid 4px #000000;
  -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

section ul li .card {
  width: 280px;
  height: 346px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 66px;
      grid-template-rows: auto 66px;
}

section ul li .card .title {
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-top: solid 4px #000000;
}

section ul li .card .title * {
  margin: 0;
}

section ul li:hover {
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  -webkit-box-shadow: 10px 10px 0 black;
          box-shadow: 10px 10px 0 black;
}

footer {
  padding: 0 4rem;
  padding-top: 1rem;
}

footer button {
  margin-right: 1rem;
}

footer #github {
  background-color: white;
  color: #363636;
}

footer #behance {
  background-color: #0057ff;
  color: white;
}
/*# sourceMappingURL=index.css.map */