@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Raleway&display=swap");
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #ebf6ec;
}

::-webkit-scrollbar-thumb {
  background: #444444;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #222222;
}

body {
  font-family: "Raleway", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Raleway", sans-serif;
  color: #444444;
}

p {
  font-family: "Raleway", sans-serif;
  color: #444444;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  background-color: #ebf6ec;
  color: #444444;
  overflow-x: hidden;
}

.page {
  height: 200vh;
  display: -ms-grid;
  display: grid;
}

.s1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s1 .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 400px;
      grid-template-columns: auto 400px;
  gap: 2rem;
}

@media screen and (max-width: 600px) {
  .s1 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 2rem;
    margin-top: 4rem;
  }
  .s1 .container h1 {
    font-size: 1.7rem;
  }
  .s1 .container p {
    font-size: 14px;
  }
  .s1 .container h1,
  .s1 .container p {
    padding: 1rem 0;
  }
}

@media screen and (min-width: 600px) {
  .s1 .container h1 {
    white-space: nowrap;
  }
}

.s1 .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.s1 .container .photo {
  background-image: url("../images/desk.JPG");
  padding-top: 100%;
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.what-i-do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.what-i-do .container {
  display: -ms-grid;
  display: grid;
  row-gap: 2rem;
  justify-items: left;
      grid-template-areas: "question   question  question" "design     app       graphic" "contact    contact   contact";
}

.what-i-do .container .question {
  padding: 0 1rem;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: question;
}

.what-i-do .container .web-design {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: design;
}

.what-i-do .container .web-app {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: app;
}

.what-i-do .container .graphic-design {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: graphic;
}

.what-i-do .container .contact {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: contact;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.what-i-do .container .contact a {
  padding: 1em 1rem;
  text-decoration: none;
  color: #444444;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .what-i-do .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5rem 2rem;
    gap: 2rem;
  }
}
/*# sourceMappingURL=services.css.map */