@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f3ecdf;
}

::-webkit-scrollbar-thumb {
  background: #72706d;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #424242;
}

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  background-color: #f3ecdf;
  color: #72706d;
  overflow-x: hidden;
}

h1 {
  padding: 1em 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2.5rem;
  font-weight: 600;
  color: #424242;
}

h1 underline {
  border-bottom: solid 3px #93bd95;
}

p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 1rem;
  color: #72706d;
}

a.button {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  color: #72706d;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  padding: 0 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: transparent;
}

a.button:hover {
  background: rgba(147, 189, 149, 0.5);
  color: #424242;
}

@media screen and (max-width: 600px) {
  a.button {
    padding: 0;
  }
}

.container {
  max-width: 1100px;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.section {
  height: 100vh;
  justify-items: center;
}

@media screen and (max-width: 600px) {
  .section {
    height: unset;
  }
}

.copyright {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #93bd95;
}

.copyright p {
  line-height: 1em;
  margin-top: auto;
  margin-bottom: auto;
}

.back {
  position: fixed;
  padding: 0.7em;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 3px;
      grid-template-rows: 1fr 3px;
}

.back a {
  text-decoration: none;
  color: #72706d;
  font-weight: 600;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid #93bd95;
}

.back:hover a {
  -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
}

.social {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  bottom: 0;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.8rem;
}

@media screen and (max-width: 600px) {
  .social {
    width: 100%;
    background: #f3ecdf;
  }
}

.social a {
  text-decoration: none;
  font-weight: 600;
  margin-right: 0.7rem;
  color: #72706d;
}

.social a:last-child {
  margin-right: 0;
}

.social a:hover {
  color: #424242;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f3ecdf;
}

::-webkit-scrollbar-thumb {
  background: #72706d;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #424242;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  background-color: #f3ecdf;
  color: #72706d;
  overflow-x: hidden;
}

.s1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s1 .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 400px;
      grid-template-columns: auto 400px;
  gap: 2rem;
}

@media screen and (max-width: 600px) {
  .s1 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 2rem;
    margin-top: 4rem;
  }
  .s1 .container h1 {
    font-size: 1.7rem;
  }
  .s1 .container p {
    font-size: 14px;
  }
  .s1 .container h1,
  .s1 .container p {
    padding: 1rem 0;
  }
}

@media screen and (min-width: 600px) {
  .s1 .container h1 {
    white-space: nowrap;
  }
}

.s1 .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.s1 .container .photo {
  background-image: url("../images/desk.JPG");
  padding-top: 100%;
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.what-i-do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.what-i-do .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr (2fr)[3];
      grid-template-columns: 1fr repeat(3, 2fr);
  -ms-grid-rows: 1fr 4fr 1fr;
      grid-template-rows: 1fr 4fr 1fr;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
}

.what-i-do .container [what-i-do] {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  color: #72706d;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.what-i-do .container [what-i-do]::after {
  content: "";
  width: 3em;
  height: 1px;
  border-bottom: 1px solid #72706d;
  opacity: 0.5;
}

@media screen and (max-width: 600px) {
  .what-i-do .container [what-i-do]::after {
    display: none;
  }
}

.what-i-do .container [what-i-do-ans] {
  color: #72706d;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
}

.what-i-do .container [what-i-do-ans]::after {
  content: "";
  width: 10em;
  height: 1px;
  border-bottom: 1px solid #72706d;
}

.what-i-do .container [sub] * {
  padding: 0.5em 0;
}

@media screen and (max-width: 600px) {
  .what-i-do .container [sub] h1 {
    padding: 0;
  }
}

.what-i-do .container [web-design] {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.what-i-do .container a.button {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

@media screen and (max-width: 600px) {
  .what-i-do .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5rem 2rem;
    gap: 2rem;
  }
}
/*# sourceMappingURL=services.css.map */