@import "global";

$nav-height: 44px;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: $bg;
}

::-webkit-scrollbar-thumb {
  background: $text-subtitle;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: $text-primary;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: $font;
  font-size: 14px;

  background-color: $bg;
  color: $text-subtitle;

  overflow-x: hidden;
}

h1 {
  padding: 1em 1rem;
  width: fit-content;
  font-size: 2rem;
  font-weight: 500;
  color: $text-primary;
  underline {
    border-bottom: solid 3px $main-color;
  }
}
p {
  width: fit-content;
  padding: 0 1rem;
}

.s1 {
  display: grid;
  grid-template-rows: $nav-height auto $nav-height;
  justify-items: center;

  .container {
    display: grid;
    gap: 2rem;
    align-items: center;
    grid-template-columns: 1fr 400px;

    padding: 4rem;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    img {
      width: 400px; /* width of container */
      height: 400px; /* height of container */
      object-fit: cover;
      object-position: left top;
    }
  }
}

.what-i-do {
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: grid;

    grid-template-columns: 1fr repeat(3, 2fr);
    grid-template-rows: 1fr 4fr 1fr;
    align-items: flex-start;

    gap: 2rem;

    [what-i-do] {
      grid-column-start: 1;
      grid-column-end: 2;

      color: $text-subtitle;
      font-weight: bold;

      display: flex;
      align-items: center;
      justify-content: space-between;

      &::after {
        content: "";
        width: 3em;
        height: 1px;

        border-bottom: 1px solid $text-subtitle;
        opacity: 0.5;
      }
    }
    [what-i-do-ans] {
      color: $text-subtitle;

      grid-column-start: 2;
      grid-column-end: 4;
      &::after {
        content: "";
        width: 10em;
        height: 1px;
        border-bottom: 1px solid $text-subtitle;
      }
    }
    [sub] {
      * {
        padding: 0.5em 0;
      }
    }

    [web-design] {
      grid-column-start: 2;
    }

    a.button {
      grid-column-start: 2;
    }
  }
}
