@import "global";

$nav-height: 44px;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: $font;
  font-size: 14px;

  background-color: $bg;
  color: $text-subtitle;

  overflow-x: hidden;
}

.page {
  height: 200vh;
  display: grid;
}

.s1 {
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: grid;
    grid-template-columns: auto 400px;
    gap: 2rem;

    @media screen and (max-width: $sm) {
      display: flex;
      flex-direction: column;
      padding: 0 2rem;
      margin-top: 4rem;

      h1 {
        font-size: 1.7rem;
      }

      p {
        font-size: 14px;
      }

      h1,
      p {
        padding: 1rem 0;
      }
    }

    @media screen and (min-width: $sm) {
      h1 {
        white-space: nowrap;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .photo {
      background-image: url("../images/desk.JPG");
      padding-top: 100%;
      width: 100%;
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.what-i-do {
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: grid;
    row-gap: 2rem;
    justify-items: left;
    grid-template-areas:
      "question   question  question"
      "design     app       graphic"
      "contact    contact   contact";


    .question {
      padding: 0 1rem;
      grid-area: question;
    }

    .web-design {
      grid-area: design;
    }

    .web-app {
      grid-area: app;
    }

    .graphic-design {
      grid-area: graphic;
    }

    .contact {
      grid-area: contact;

      width: 100%;
      display: flex;
      justify-content: center;

      a {
        padding: 1em 1rem;
        text-decoration: none;
        color: $text-subtitle;
        font-weight: bold;
      }
    }

  }

  @media screen and (max-width: $sm) {
    .container {
      display: flex;
      flex-direction: column;
      padding: 5rem 2rem;
      gap: 2rem;
    }
  }
}