<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link
  rel="icon"
  href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 110 110%22><text y=%22.9em%22 font-size=%2290%22>👋</text></svg>"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />

<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
<meta name="title" content="{{ page.title | default: site.title }}" />
<meta
  name="description"
  content="{{ page.description | default: site.description }}"
/>

<!-- Pinterest -->
<meta name="p:domain_verify" content="6aec3fccf733b417a0575afc007c039f" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ page.url | absolute_url }}" />
<meta property="og:title" content="{{ page.title | default: site.title }}" />
<meta
  property="og:description"
  content="{{ page.description | default: site.description }}"
/>
<meta
  property="og:image"
  content="{{ site.url }}/images/the_forest_facebook.png"
/>

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="{{ page.url | absolute_url }}" />
<meta
  property="twitter:title"
  content="{{ page.title | default: site.title }}"
/>
<meta
  property="twitter:description"
  content="{{ page.description | default: site.description }}"
/>
<meta
  property="twitter:image"
  content="{{ site.url }}/images/the_forest_facebook.png"
/>

{% if site.google_analytics %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "{{ site.google_analytics }}");
</script>
{% endif %}
