@import "../../css/global";

body {
    background-color: $bg;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2rem;

    height: 100vh;
}

a {
    text-decoration: none;
}

h1 {
    color: $text-primary;
}

h2 {
    font-size: 1.5rem;
    text-align: center;

    border-top: solid 3px;

    padding: 0;
    margin: auto;

    height: 100%;

    display: grid;
    place-content: center;
}

.cards {
    display: flex;
    flex-direction: row;

    gap: 30px;
}


// rotate animation
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

// rotate animation
@keyframes rotate-round {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#Kubernete {
    transform-origin: 140.5px 55.5px;
    animation: rotate 10s infinite;
}

#Cog1 {
    transform-origin: 68px 173.5px;
    animation: rotate-round 10s infinite linear;
}

#Cog2 {
    transform-origin: 152.8px 152.5px;
    animation: rotate-round 10s infinite linear reverse;
}

#cursor {
    @keyframes cursor {
        0% {
            transform: translate(0px, 0px);
        }

        50% {
            transform: translate(90px, -10px);
        }

        80% {
            transform: translate(150px, 30px);
        }
    }

    animation: cursor 10s infinite;
}

#rec1 {
    @keyframes color-transition {
        0% {
            fill: $bg;
        }

        50% {
            fill: $green;
        }

        80% {
            fill: $bg;
        }
    }

    animation: color-transition 10s infinite;
}

#rec2 {
    @keyframes color-transition-2 {
        0% {
            fill: $bg;
        }

        50% {
            fill: $bg;
        }

        80% {
            fill: $blue;
        }
    }

    animation: color-transition-2 10s infinite;
}



#fullstack {
    .illustration {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}